# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env
.env.*
.env.development
.env.production

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Vite
.vite/

# Logs
logs/
*.log

backend/uploads/