@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-sans text-neutral;
  }

  h1, h2, h3, h4 {
    @apply font-bold;
  }

  code {
    @apply font-mono;
  }

    .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-lg
           hover:bg-amber-700 transition;
  }

  .btn-secondary {
    @apply bg-secondary text-white px-4 py-2 rounded-lg;
  }
}